<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="ApiEndpoint" value="https://localhost:7062/"/>
		<add key="ApiToken" value="6hAlfv16uIBQ7LeDPAOLeehk8G6WgCjH5bftVFmsRatEVOgdzkuslPqeaSlSMhE2"/>
		<add key="MaxArchiveDayCount" value="10"/>
	</appSettings>
</configuration>
